/*
# base/_base.scss
*/

* {
    @include box-sizing(border-box);
}

html {
    font-size: 62.5%; /* Sets up the Base 10 stuff */
}

body,
p,
td,
input,
textarea,
select {
    font-family: $font-family-1;
    @include font-size($base-font-size, $base-line-height);
}

p {
   padding: 0;
   margin: 0 0 $base-line-height-px 0;
}

h1, h2, h3, h4 {
    font-family: $font-family-2;
    font-weight: normal;
    padding: 0;
    margin: #{$base-line-height * 2}px 0 $base-line-height-px 0;
}
h1 {
    @include font-size(50,70);
    border-bottom: 2px dashed $hr-color;
}
h2 {
    @include font-size(32,40);
}
h3 {
    @include font-size(24,30);
}
h4 {
    @include font-size(18,20);
    margin: $base-line-height-px 0;
}

a,
button,
input[type="button"],
input[type="submit"] {
    outline: none;
}

a {
    color: $link-color;
    text-decoration: none;
    &:visited {
        color: $link-visited-color;
    }
    &:hover,
    &:active {
        color: $link-hover-color;
        text-decoration: none;
    }
}

em, i {
    font-style: italic;
}

b, strong {
    font-weight: bold;
}

ul,
ol {
    & ul,
    & ol {
        margin-top: 0;
        margin-bottom: 0;
    }
}

hr {
    border: 0;
    border-bottom: 2px dashed $hr-color;
    height: 1px;
    margin-top: #{$base-line-height * 2 - 1}px;
    margin-bottom: #{$base-line-height * 2}px;;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.floatleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
}

.floatright {
    float: right;
    margin-left: 15px;
    margin-bottom: 5px;
}

.print-block,
.print-inline {
    display: none;
}