/* _scaffold.scss */

html,
body {
    background-color: $body-bg-color;
    text-align: center;
}

.container {
    text-align: left;
    min-width: $min-width;
    padding: 0 20px;
    position: relative;
    @include container();
}

.content {
    padding: $base-line-height-px 0;
    z-index: 10;
    position: relative;
}

.site-footer {
    background-color: $footer-bg-color;
    padding: $base-line-height-px 0;
    z-index: 20;
}