/*
# base/_vars.scss

Make your changes here.
*/

/*
# Basic layout
*/
$max-width:             1200px;
$min-width:             320px;

// Feel free to add more breakpoints!
$breakpoints:           small 500px, medium 700px, big 900px !default;
$form-breakpoint:       medium;

/*
# Susy config

(http://susydocs.oddbird.net/en/latest/settings/)
*/
$susy: (
    gutter-position:    inside,
    columns:            12,
    gutters:            1/3,
    global-box-sizing:  border-box
);

/*
# Basic color palette
*/
$black:                 #000;
$grey1:                 #333;
$grey2:                 #666;
$grey3:                 #999;
$grey4:                 #ccc;
$grey5:                 #eee;
$white:                 #fff;

$violet1:               #a5037c;
$green1:                #6fa938;
$blue1:                 #109acc;
$blue2:                 shade($blue1, 20);
$blue3:                 tint($blue1, 80);
$red1:                  #e53f32;
$yellow1:               #e9ac00;
$turquise1:             #86cee0;

/*
# basic site colors
*/
$text-color:            $grey1;

$link-color:            $blue1;
$link-hover-color:      $red1;
$link-visited-color:    darken($blue1, 20%);

$hr-color:              $grey3;

$body-bgcolor:          $grey5;
$hero-bgcolor:          $grey4;
$header-bgcolor:        $grey1;
$footer-bgcolor:        $grey4;

/*
# Basic typography
*/
$fontfamily1:           "Helvetica-Neue", Helvetica, Arial, sans-serif;
$fontfamily2:           "Droid Serif", Georgia, "Times New Roman", Times, serif;

$fontsize-normal:       16px;
$fontsize-small:        14px;
$fontsize-tiny:         12px;

$headingsize1:          30px;
$headingsize2:          26px;
$headingsize3:          22px;
$headingsize4:          18px;

$lineheight1:           24px;
$lineheight2:           18px;

$linespacing1:          12px;
$linespacing2:          24px;

