/*
# base/_vars.scss

Make your changes here.
*/

/*
# Basic layout
*/
$max-width:             1200px;
$min-width:             320px;

// Breakpoint configuration
// Feel free to add more breakpoints!
$breakpoints: (
    small:  500px,
    medium: 700px,
    big:    900px
) !default;

$grid-brakepoint:       small;          // min-brakepoint where easy grid will become active
$grid-gutter:           20px;           // horizontal gap between grid columns

/*
# Susy settings

Global settings for susy grid system.
http://susydocs.oddbird.net/en/latest/settings/
*/
$susy: (
    //debug:              (image: show),
    columns:            12,
    gutters:            1/3,
    container:          $max-width,
    //gutter-position:    inside,
    global-box-sizing:  border-box
);

/*
# Z-Layers
Gather all z-indexes into a single map, and stick to them. Then you know how
many layers the application uses, making it easy to understand what’s going on
(and, sooner or later, to debug).
*/
$z-layers: (
    preloader:      999,
    site-header:    30,
    content:        10,
    site-footer:    20,

    logo:           30,
    main-nav:       20,
    hero:           10,
    tooltips:       20
);


/*
# Basic color palette
*/
$black:                 #000;
$grey1:                 #333;
$grey2:                 #666;
$grey3:                 #999;
$grey4:                 #ccc;
$grey5:                 #eee;
$white:                 #fff;

$violet1:               #a5037c;
$green1:                #6fa938;
$blue1:                 #109acc;
$red1:                  #e53f32;
$yellow1:               #e9ac00;
$turquise1:             #86cee0;

/*
# basic site colors
*/
$text-color:            $grey1;

$link-color:            $blue1;
$link-hover-color:      $grey3;
$link-visited-color:    darken($blue1, 10%);

$hr-color:              $grey1;

$body-bg-color:         $white;

$primary-color:         $blue1;
$info-color:            $turquise1;
$error-color:           $red1;
$danger-color:          $yellow1;
$success-color:         $green1;

/*
# Basic typography
*/
$font-family-1:         "Roboto", "Helvetica-Neue", Helvetica, Arial, sans-serif;
//$font-family-1:         Georgia, "Times New Roman", serif;
$font-family-2:         "Roboto Slab", Georgia, "Times New Roman", Times, serif;
$font-family-2:         "Oswald", Arial, sans-serif;


$base-font-size:        16;             //in px without unit
$base-line-height:      24;             //in px without unit

$base-font-size-px:     #{$base-font-size}px;
$base-line-height-px:   #{$base-line-height}px;


/*
# Forms
*/
$form-breakpoint-1:             small;
$form-breakpoint-2:             medium;
$form-font-family:              $font-family-1;
$form-font-size:                $base-font-size;
$form-line-height:              $base-line-height;
$form-placeholder-color:        $grey3;
$form-input-margin:             4px 0;
$form-input-padding:            6px;
$form-input-border:             1px solid $grey4; //#d9d9d9;
$form-input-bg-color:           $grey5; //#fafafa
$form-input-hover-border-color: darken($grey4, 10%);
$form-input-focus-border-color: $blue1;
$form-error-color:              $red1;
$form-error-font-size:          12px;
$form-select-padding:           5px;
$form-label-font-size:          14px;
$form-gutter-width:             10px;
$form-fieldset-bg-color:        $white;
$form-fieldset-border:          1px solid $grey4;


/*
# Buttons
*/

// Basic Styles
$btn-font-family:               $font-family-1;
$btn-border:                    0;
$btn-border-radius:             3px;
$btn-margin:                    4px 0;

// Color variants
$btn-color:                     $grey1;
$btn-bg-color:                  $white;
$btn-hover-bg-color:            darken($white, 2%);
$btn-active-bg-color:           darken($white, 10%);

$btn-primary-color:             $white;
$btn-primary-bg-color:          $blue1;
$btn-primary-hover-bg-color:    darken($blue1, 2%);
$btn-primary-active-bg-color:   darken($blue1, 10%);

$btn-disabled-color:            $grey4;
$btn-disabled-bg-color:         darken($white, 5%);
$btn-disabled-hover-bg-color:   darken($white, 5%);
$btn-disabled-active-bg-color:  darken($white, 5%);

$btn-accept-color:              $white;
$btn-accept-bg-color:           $green1;
$btn-accept-hover-bg-color:     darken($green1, 2%);
$btn-accept-active-bg-color:    darken($green1, 10%);

$btn-decline-color:             $white;
$btn-decline-bg-color:          $red1;
$btn-decline-hover-bg-color:    darken($red1, 5%);
$btn-decline-active-bg-color:   darken($red1, 10%);

// Sizes
$btn-font-size:                 $base-font-size-px;
$btn-padding:                   6px 20px;
$btn-next-border-radius:        17px;

$btn-sm-font-size:              14px;
$btn-sm-padding:                5px 12px;
$btn-sm-next-border-radius:     14px;

$btn-big-font-size:             20px;
$btn-big-padding:               10px 30px;
$btn-big-next-border-radius:    23px;

/*
# Tables
*/
$table-breakpoint:      medium;         // max-brakepoint where responsive tables will become scrollable
$table-bg-color:        transparent;
$table-bg-accent-color: $white;
$table-bg-hover-color:  $turquise1;
$table-border-color:    $grey4;
$table-cell-padding:    10px;

/*
# Tooltips
*/
$tooltip-color:         $white;
$tooltip-bg-color:      $blue1;
$tooltip-font-size:     14px;
$tooltip-line-height:   22px;
$tooltip-height:        22px;
$tooltip-padding:       6px 10px;
$tooltip-bubble-pos:    -40px;
$tooltip-triangle-pos:  -6px;
$tooltip-triangle-size: 6px;

/*
# Tabs
*/
$tab-padding:                   10px 20px;
$tab-color:                     $grey3;
$tab-border-color:              $grey2;
$tab-bg-color:                  $white;
$tab-hover-color:               $grey1;
$tab-hover-border-color:        darken($turquise1, 40%);
$tab-hover-bg-color:            $turquise1;
$tab-active-color:              $grey2;
$tab-active-border-color:       $grey2;
$tab-active-bg-color:           $grey5;

/*
# Alerts
*/
$alert-font-family:             $font-family-1;
$alert-font-size:               14;
$alert-line-height:             20;
$alert-padding:                 10px 15px;
$alert-margin:                  0 0 $base-line-height-px 0;
$alert-border:                  1px solid;

$alert-info-color:              $grey1;
$alert-info-bg-color:           tint($blue1, 90);
$alert-info-border-color:       $blue1;

$alert-danger-color:            $grey1;
$alert-danger-bg-color:         tint($danger-color, 90);
$alert-danger-border-color:     $danger-color;

$alert-error-color:             $grey1;
$alert-error-bg-color:          tint($error-color, 90);
$alert-error-border-color:      $error-color;

$alert-success-color:           $grey1;
$alert-success-bg-color:        tint($success-color, 90);
$alert-success-border-color:    $success-color;

/*
# Dropdowns
*/
$dropdown-font-size:            16;
$dropdown-line-height:          24;
$dropdown-padding:              5px 0;
$dropdown-option-padding:       5px 20px;
$dropdown-border:               1px solid $grey4;
$dropdown-color:                $grey1;
$dropdown-bg-color:             $white;
$dropdown-hover-bg-color:       $grey5;
$dropdown-divider-color:        $grey4;