/*
# elements/_buttons.scss
*/

/*
# elements/_buttons.scss

Button styles
*/
.btn {
    @include inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: $btn-padding;
    font-family: $btn-font-family;
    @include font-size($btn-font-size, $btn-font-size);
    border: $btn-border;
    @include border-radius($btn-border-radius);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover,
    &.hover {
         color: inherit;
         text-decoration: none;
    }
    &:active,
    &.active {
        outline: 0;
        background-image: none;
        text-decoration: none;
        border-bottom-color: transparent;
        @include box-shadow(inset 0 2px 3px rgba(0, 0, 0, 0.175));
    }
}

/*
# Button colors

    <a class="btn btn-default">Default button</a>
    <a class="btn btn-primary">Primary button</a>
    <a class="btn btn-red">Red button</a>
    <a class="btn btn-green">Green button</a>
    <a class="btn btn-olive">Olive button</a>
*/
@mixin btn-color(
    $color: $btn-color,
    $bgcolor: $btn-bg-color,
    $border-color: $btn-border-color,
    $hover-bgcolor: $btn-hover-bg-color,
    $active-bgcolor: $btn-active-bg-color
) {
    color: $color;
    background-color: $bgcolor;
    border-color: $border-color;
    &:hover,
    &.hover {
        color: $color;
        background-color: $hover-bgcolor;
    }
    &:active,
    &.active {
        color: $color;
        background-color: $active-bgcolor;
        border-color: transparent;
    }
}

.btn {  @include btn-color; }
.btn-accept {   @include btn-color($btn-accept-color, $btn-accept-bg-color, $btn-accept-border-color, $btn-accept-hover-bg-color, $btn-accept-active-bg-color); }
.btn-decline {  @include btn-color($btn-decline-color, $btn-decline-bg-color, $btn-decline-border-color, $btn-decline-hover-bg-color, $btn-decline-active-bg-color); }

/*
# Button sizes

    <a class="btn btn-sm btn-default">Small button</a>
    <a class="btn btn-big btn-default">Big button</a>
*/
.btn-sm,
.btn-group-sm > .btn {
    font-size: $btn-sm-font-size;
    padding: $btn-sm-padding;
}

.btn-big,
.btn-group-big > .btn {
    font-size: $btn-big-font-size;
    padding: $btn-big-padding;
}

/*
# Variants

    <a class="btn btn-default btn-return">Return</a>
    <a class="btn btn-default btn-proceed">Proceed</a>
*/
.btn-next {
    @include border-top-right-radius($btn-next-border-radius);
    @include border-bottom-right-radius($btn-next-border-radius);
}
.btn-sm.btn-next {
    @include border-top-right-radius($btn-sm-next-border-radius);
    @include border-bottom-right-radius($btn-sm-next-border-radius);
}
.btn-big.btn-next {
    @include border-top-right-radius($btn-big-next-border-radius);
    @include border-bottom-right-radius($btn-big-next-border-radius);
}
.btn-prev {
    @include border-top-left-radius($btn-next-border-radius);
    @include border-bottom-left-radius($btn-next-border-radius);
}
.btn-sm.btn-prev {
    @include border-top-left-radius($btn-sm-next-border-radius);
    @include border-bottom-left-radius($btn-sm-next-border-radius);
}
.btn-big.btn-prev {
    @include border-top-left-radius($btn-big-next-border-radius);
    @include border-bottom-left-radius($btn-big-next-border-radius);
}

/*
# Button group

    <div class="btn-group">
        <a class="btn btn-default">Default button</a>
        <a class="btn btn-primary">Primary button</a>
        <a class="btn btn-green">Green button</a>
    </div>
*/
.btn-group {
    position: relative;
    @include inline-block;
    vertical-align: middle;
}
.btn-group > .btn {
    position: relative;
    float: left;
}
.btn-group > .btn:not(:first-child):not(:last-child) {
    @include border-radius(0);
}
.btn-group > .btn:first-child:not(:last-child) {
    @include border-bottom-right-radius(0);
    @include border-top-right-radius(0);
}
.btn-group > .btn:last-child:not(:first-child) {
    @include border-bottom-left-radius(0);
    @include border-top-left-radius(0);
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
    //margin-left: -1px;
}
.btn-group > .btn:hover,
.btn-group > .btn:active,
.btn-group > .btn.active {
    z-index: 2;
}