/*
# misc/_example.scss
*/

/*
# Grid presentation
*/
.example-grid {
    @include container;
}

.example-col-1 {
    @include bp(small) {    @include span(6);   }
    @include bp(medium) {   @include span(4);   }
    @include bp(big) {      @include span(3);   }
}

.example-col-2 {
    @include bp(small) {    @include span(6 last);  }
    @include bp(medium) {   @include span(8 last);  }
    @include bp(big) {      @include span(9 last);  }
}

.example-col-3 {
    @include bp(small) {    @include span(6);  }
    @include bp(medium) {   @include span(4);  }
}
.example-col-4 {
    @include bp(small) {    @include span(6 last);  }
    @include bp(medium) {   @include span(4);  }
}
.example-col-5 {
    @include span(4 last);
}

.example-module,
.example-module-2 {
    border: 1px solid $turquise1;
    background-color: $white;
    padding: 20px;
    font-family: "Consolas", "Source Code Pro", "Courier New", Courier, monospace;
    font-size: 14px;
}

.example-module-2 {
    padding: 10px;
}

.example-equal-1 {  @include bp(small) { @include span(4); }}
.example-equal-2 {  @include bp(small) { @include span(4); }}
.example-equal-3 {  @include bp(small) { @include span(4 last); }}


/*
# CSS selector example for external links
*/
a[href^="http"] {
    &:before {
        font-family: "FontAwesome";
        font-size: 73%;
        content: "\f08e";
        margin-right: 2px;
    }
}