/*
# sections/_hero.scss
*/

.hero {
    background: transparent;
    height: 400px;
    z-index: 10;
}

.hero a {
    position: absolute;
    display: block;
    width: 140px;
    left: 50%;
    right: 50%;
    @include translate(-50%, 0);
    bottom: 0px;
    font-size: 200px;
    color: $white;
    z-index: 10;
    @include animation('blink 2.5s');
    @include animation-property('iteration-count', 'infinite');
    :hover {
        $color: white;
    }
}

@include keyframes('blink') {
    0% { color: rgba($white, 0); bottom: 50px; }
    90% { color: rgba($white, 0.9); bottom: 0px; }
    100% { color: rgba($white, 0); }
}