/*
# gui/_navigation.scss
*/

.main-nav {
    position: absolute;
    right: 10px;
    top: 0;
    li {
        background: none;
    }
}

.main-nav .trigger {
    display: block;
    padding: 4px 10px;
    border: 1px solid rgba($blue1, 0.3);
    @include border-radius(5px);
    @include font-size(24, 20);
    @include transition-property(background-color);
    @include bp(big) {
        display: none;
    }
    &:hover,
    &:focus,
    &:active,
    &.active {
        background-color: $blue1;
        color: $header-bg-color;
    }
}

.main-nav ul {
    @include no-list;
    display: none;
    @include bp(big) {
        @include inline-list;
    }
}

.main-nav a {
    float: left;
    margin: 0 10px;
    padding: 10px 0;
    color: $blue1;
    text-transform: uppercase;
    text-decoration: none;
    @include transition-property(color);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);
    &:hover {
        color: $grey4;
    }
}

.main-nav li.active a {
    color: $grey4;
}
