/*
# gui/_navigation.scss
*/

@import "compass/css3";

/* Setting things up */

.main-nav-container {
    @extend .container;
    margin-top: -60px;
}

.main-nav {
    float: right;
}

.content {
    clear: both;
    padding-top: 1em;
}

/* Important stuff */

.main-nav ul {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0;
    white-space: nowrap;

    li {
        list-style: none;
        display: inline;
    }

    a {
        float: left;
        padding: 0 7px;
        color: $blue1;
        font-family: $font-family-2;
        font-size: 15px;
        text-transform: uppercase;
    }

    a:hover {
        color: $white;
    }

}

a.open-panel,
a.close-panel {
    display: none;
    z-index: 40;
    left: 20px;
    position: absolute;
    font-size: 22px;
    line-height: 22px;
    padding: 4px 7px;
    @include border-radius(5px);
}

a.open-panel {
    top: 5px;
    color: $blue1;
    border: 1px solid $blue1;
    &:hover,
    &:focus,
    &:active {
        background: $blue1;
        color: $grey1;
    }
}

a.close-panel {
    top: 15px;
    color: $red1;
    border: 1px solid $red1;
    &:hover,
    &:focus,
    &:active {
        background: $red1;
        color: $grey1;
    }
}

@include bp-max(big) {

    .main-nav-container {
        min-width: 0;
        width: 0;
        position: static;
    }

    /* Move nav off screen, setup transitions */
    .main-nav {
        width: 70%;
        position: absolute;
        left: -70%;
        top: 0;
        padding-top: 60px;
        height: 100%;
        background: $grey1;
        .container {
            min-width: 0;
        }

    }

    /* Display nav items vertically */
    .main-nav ul {
        border-top: 1px solid $black;
        position: relative;
        padding: 0;
        margin: 0;

        a {
            display: block;
            float: none;
            width: 100%;
            text-align: left;
            padding: .5em 1em;
            border-bottom: 1px solid $black;
        }
    }

    /* Reveal open/close buttons */
        a.open-panel, a.close-panel {
        display: inline;
        z-index: 40;
    }

    .close-panel {
        position: relative;
        top: .5em;
        left: 1em;
    }

    .openNav .page {
        left: 0;
        -webkit-transform: translate3d(70%, 0, 0);
        -moz-transform: translate3d(70%, 0, 0);
        -ms-transform: translate3d(70%, 0, 0);
        -o-transform: translate3d(70%, 0, 0);
        transform: translate3d(70%, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
    }

    /* When the panel is closed, transition the page back to the left */
    .page {
        left: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 500ms ease;
        -moz-transition: -moz-transform 500ms ease;
        -o-transition: -o-transform 500ms ease;
        transition: transform 500ms ease;
    }
}